.activity-item {
    margin-bottom: 1rem;
}

.activity-item .activity-content {
    flex-grow: 1;
    padding-left: 10px;
}

.activity-item .activity-content a {
    text-decoration: none;
}

.activity-item .activity-content a:hover {
    text-decoration: underline;
}

.activity-badge {
    margin-top: 5px;
}

.activity-content button.fw-bold {
    font-weight: 600;
    transition: color 0.3s ease;
}

.activity-content button.fw-bold:hover {
    color: #4154f1 !important;
}

/* Estilos para modo oscuro */
[data-theme='dark'] .activity-content button.fw-bold {
    color: #4154f1 !important;
}

[data-theme='dark'] .activity-content button.fw-bold:hover {
    color: #6c7bff !important;
}
