.activity-item {
    margin-bottom: 10px;
}

.activity-item .activity-content {
    flex-grow: 1;
    padding-left: 10px;
}

.activity-item .activity-content a {
    text-decoration: none;
}

.activity-item .activity-content a:hover {
    text-decoration: underline;
}

.activity-badge {
    margin-top: 5px;
}
